<a href="https://colab.research.google.com/github/689photo/Colab_AI/blob/main/AI_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Tell me your age?")
myage = int(input())
if myage < 30:
  print("Welcomt to the Club.")
else:
    print("Oh! No. You are not acceted.")

Tell me your age?
35
Oh! No. You are not acceted.

In [ ]:
a = 256
b = 256
a is b

if 1:
  print("hello")
else:
  print("Bye")

hello

In [ ]:
birth_year = int(input('당신의 태어난 년도는?'))

age = 2021 - birth_year + 1

message = ""

if 20 <= age and age <= 26:
  message = "대학생"
elif 17 <= age and age < 20:
  message = "고등학생"
elif 14 <= age and age <17:
  message = "중학생"
elif 8 <= age and age <14:
  message = "초등학생"
else:
  print("학생이 아닙니다.")

print(message)

당신의 태어난 년도는?2019
학생이 아닙니다.

In [ ]:
for looper in [1,1,1,1,1]:
  print(f"{looper} : hello")

1 : hello
1 : hello
1 : hello
1 : hello
1 : hello

In [ ]:
for looper in range(1, 6):
  print(f"{looper} : hello")

1 : hello
2 : hello
3 : hello
4 : hello
5 : hello

In [ ]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in ["americano", "latte", "fiafuchino"]:
  print(i)

americano
latte
fiafuchino

In [ ]:
for i in range(10, -1, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
i = 1
while i <10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)
print("EOP")

0
1
2
3
4
EOP

In [ ]:
startNumber = int(input("구구단 몇 단?"))

for i in range(1, 10):
  print(f"{startNumber} x {i} = {startNumber*i}")

구구단 몇 단?3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
import random

true_value = random.randint(1, 100)
input_value = 0
print("숫자를 맞춰보세요.(1~100)")
while true_value != input_value:
  input_value = int(input())

  if input_value > true_value:
    print("숫자가 너무 큽니다.")
  elif input_value < true_value:
    print("숫자가 너무 작습니다.")
  else:
    break

print(f"정답입니다! 정답은 {true_value}!")

숫자를 맞춰보세요.(1~100)
50
숫자가 너무 큽니다.
25
정답입니다! 정답은 25

In [ ]:
a = "TEAM"
b = "LAB"
a+b

'TEAMLAB'

In [ ]:
raw_string = "Just \nDo \nIt"
print(raw_string)

Just
Do
It

In [ ]:
def swap_reference (list_ex, offset_x, offset_y):
  temp_list = list_ex[:]
  temp = list_ex[offset_x]
  list_ex[offset_x] = list_ex[offset_y]
  list_ex[offset_y] = temp

ex = [1,2,3,4,5]
swap_reference(ex, 3,4)
print(ex)

[1, 2, 3, 5, 4]

In [ ]:
def test(t):
  print(x)
  t = 20
  print("In Function :", t)

x = 10
test(x)
print(t)

10
In Function : 20

NameError: ignored

In [ ]:
def f():
  s = "I love London!"
  print(s)

s = "I love Paris!"
f()
print(s)

I love London!
I love Paris!

In [ ]:
def factorial(n):
  if n == 1:
    return(1)
  else:
    print(n)
    return n * factorial(n-1)
print(factorial(int(input("Input Number for Factorial Calculation : "))))

Input Number for Factorial Calculation : 5
5
4
3
2
120

In [ ]:
food = 'python\'s favorite food is perl'
say = "\"python is very easy\" he says."
print(f"{food} \n {say}")

python's favorite food is perl
 "python is very easy" he says.

In [ ]:
multiline = """
Life is too short
you need python
"""
print(multiline)

print('=' * 50)
print("My program")
print("=" * 50)

Life is too short
you need python

==================================================
My program
==================================================

In [ ]:
a = "Life is too short, You need Python"
len(a)

b = "20230815Rainy"
year = b[0:4]
date = b[4:8]
weather = b[8:]
print(year)
print(date)
print(weather)

2023
0815
Rainy

In [ ]:
a = [1,2,3,4,5]
a.append(10)
c = a.pop()

In [ ]:
word = input("Input a word : ")
word_list = list(word)
print(word_list)
for _ in range (len(word_list)):
  print(word_list.pop())
  print(word_list)

Input a word : purple
['p', 'u', 'r', 'p', 'l', 'e']
e
['p', 'u', 'r', 'p', 'l']
l
['p', 'u', 'r', 'p']
p
['p', 'u', 'r']
r
['p', 'u']
u
['p']
p
[]

In [ ]:
#튜플은 값의 변경이 불가능한 리스트
t = (1,2,3)
print(t + t, t * 2)
len(t + t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

6

In [ ]:
#set은 값을 순서 없이 저장, 중복이 불가능한 자료형
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])
#s1.union(s2) 합집합
#s1|s2 합집합
#s1.intersection(s2) 교집합
#s1 & s2 교집합
#s1.difference(s2) 차집합
#s2-s1 차집합

In [ ]:
#dict는 사전형
student_info = {20140012:"sung", 20140059:"jiyong", 20140058:"jaehong"}

student_info[20140012]

'sung'

In [ ]:
country_code = {}
country_code = {"America" : 1, "Korea" : 82, "Japan" : 81}
country_code.items()
country_code.keys()
country_code["German"]=49
country_code

{'America': 1, 'Korea': 82, 'Japan': 81, 'German': 49}