<a href="https://colab.research.google.com/github/689photo/Colab_AI/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
test_array = np.array(["1", "4", 5, 8], float)
#numpy는 np.array 함수를 활용해 ndarray객체를 만듬.
print(test_array)
type(test_array[3])

[1. 4. 5. 8.]

numpy.float64

In [ ]:
a = [[1,2,3,4], [3, 4,5,6], [3,4,5,6]]
np.array(a).shape

(3, 4)